<html>
    <head>
        <title>Music Video App</title>
    </head>

    <body>

        <h1>Music Videos List</h1>
        Filter:
        <input id="filter_data" name="filter_data" value="">
        <button id="filter_button" onclick="apply_filter();">APPLY</button>

        <ul>
            {% for item in items %}
                <li>
                    Name: {{ item.name }} <br>
                    Score: {{ item.score }} <br>

                    <a href="{{ item.track_url }}" target="_blank">
                        <img src="{{ item.image }}"><br>
                        View Music Video
                    </a>
                    <!-- <iframe width="320" height="240"
                        src="http:{{ item.video_url }}">
                    </iframe> -->
                </li>
                <br>
            {% endfor %}
        </ul>
    </body>

    <script>
        function apply_filter() {
            // Get user input
            let filter_val = document.getElementById("filter_data").value;

            // Redirect to root url with query params
            window.location.href = "/?action=filter&key=name&val=" + filter_val;
        }
    </script>
</html>